<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>

<body id="pageCenter">

<div th:replace="~{fragments :: header}"></div>

<main>
    <h2>Register a new pet</h2>
    <form method="POST" th:object="${animal}" enctype="multipart/form-data">
        Name: <input type="text" th:field="*{name}"/><br>
        Type: <select th:field="*{type}">
        <option th:each="t : ${AnimalType}"
                th:value="${t}"
                th:text="${t}">TYPE HERE</option>
    </select><br>
        Breed/Subtype: <input type="text" th:field="*{subtype}"/><br>
        Birthdate: <input type="text" th:field="*{birthdate}"/><br>
        Owner Name: <input type="text" th:field="*{ownerName}"/><br>
        Owner Contact: <input type="text" th:field="*{ownerContact}"/><br>
        Upload Picture: <input type="file" th:field="*{image}" /><br>
        <button>Register Animal</button>
    </form>

</main>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>