<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="'Animal Registration :: ' + ${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<div th:fragment="header">
    <header><h1>Animal Registration</h1></header>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/list}">Pet List</a>
        <a th:href="@{/register}">Register a Pet</a>
    </nav>
</div>
</body>


<footer th:fragment="footer">
    &copy; Pet Registration 2024<br>
    <a href="mailto:info@petregistration.com">Contact Us</a>
</footer>

</html>